<div class="container">
  <div class="contents_top">

<body class="background">

<h3 class="login_form">Log in</h3>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

<div class="login_form">  
  <%= f.email_field :email, id: :form, :size=>"30", :placeholder => "  email address"%>
</div>

<div class="login_form">
  <%= f.password_field :password, id: :form, :size=>"30", :placeholder => "  password" %>
</div>
<br>
<div class="login_form_btn">
  <%= f.submit "Log in", :class=>"btn btn-primary btn-sm" %>
</div>  
<% end %>
<br>
<h4 class="login_form">New user?  <a href="/users/new">Sign up now!</a></h4>

</body>


  </div>
</div>