<div class="container">
  <div class="contents_top">
    
<body class="background">
    
<div class="loading">
  <span data-text="F">F</span>
  <span data-text="a">a</span>
  <span data-text="v">v</span>
  <span data-text="o">o</span>
  <span data-text="r">r</span>
  <span data-text="i">i</span>
  <span data-text="t">t</span>
  <span data-text="e">e</span>
  <span data-text="B">B</span>
  <span data-text="e">e</span>
  <span data-text="a">a</span>
  <span data-text="c">c</span>
  <span data-text="h">h</span>
  <span data-text="e">e</span>
  <span data-text="s">s</span>
</div>

<p class="topindex_p1">国内、海外の素敵なビーチ　あなたはどこでどんなことしてみたい？<br>
お気に入りのビーチを紹介するアプリです。</p>

</body>
    
  </div>
</div>
