<body class="background">
<h4>Success to Sing up</h4>

<h3><span class="title"><%= @user.name %></span>さん</h3>

<p>登録メールアドレス<br><%= @user.email %></p>

<p>アプリをご利用の際は<a href="/sessions/new">Log in</a>が必要です。</p>
<p>Please <a href="/sessions/new">Log in</a> to open the app</p>

<p id="notice"><%= notice %></p>

</body>